.urgent-important {
    background-color: #FF4136;
    color: white;
  }
  .important-nonurgent {
    background-color: #FF851B;
    color: white;
  }
  .urgent-nonimportant {
    background-color: #2ECC40;
    color: white;
  }
  .nonurgent-nonimportant {
    background-color: #0074D9;
    color: white;
  }
  
  .column-divider {
    border-right: 1px solid #dee2e6;
  }
  .last-column {
    border-right: none;
  }
  
  /* Ajout de styles pour améliorer la lisibilité */
  .matrix li {
    font-size: 1.2em;
    line-height: 1.5;
  }
  .matrix input[type="checkbox"] {
    margin-right: 5px;
  }
  .matrix label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
  }